.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

#curiosityBtn:hover {
    background-color: rgba(200,255,200,0.5);
}
#curiosityBtn:hover #opportunityBtn {
    color: grey;
}

#opportunityBtn:hover{
    background-color: rgba(200,200,255,0.5);
}

#spiritBtn:hover{
    background-color: rgba(255,255,200,0.5);
}

.positionAbsoluteWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overflowWrapper {
    overflow-y: auto;
}

.roverDetails{
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
